/* Variables */
:root {
  --color-umber-015: hsl(0, 21%, 15%);
  --color-stone-066: hsl(0, 3%, 66%);
  --color-alarm-067: hsl(0, 100%, 67%);
  --color-alarm-087: hsl(0, 100%, 87%);
  --color-alarm-094: hsl(0, 42%, 94%);
}

/* Body */
body {
  margin: 0;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-umber-015);
}

/* Screen Reader Only */
.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

/* Icons */
.icon-chevron {
  margin-bottom: 64px;
  fill: var(--color-alarm-094);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo-icon__icon--top {
  fill: var(--color-stone-066);
}

.logo-icon__icon--center {
  fill: var(--color-alarm-087);
}

.logo-icon__icon--bottom {
  fill: var(--color-alarm-067);
}

.logo-logotype {
  margin-left: 32px;
  fill: var(--color-alarm-094);
}
